$r1440: "(max-width:1440px)";
$r1366: "(max-width:1366px)";
$r1280: "(max-width:1280px)";
$r1024: "(max-width:1024px)";
$r768: "(max-width:812px)";
$r414: "(max-width:414px)";
$r375: "(max-width:375px)";
$r360: "(max-width:360px)";
$r320: "(max-width:320px)";
$main:#00619b;
%font1 {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
$color1:#004689;
%icon {
	font-family: "fontello";
	font-style: normal;
	font-weight: 400;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.album_1_1_0{
    padding: 30px 0;
    &__title{
        p{
            font-size: 18px;
            font-weight: bold;
            text-transform: uppercase;
            color: #015440;
            padding-bottom: 10px;
            margin-bottom: 10px;
            @extend %font1;
            &::after{
                display: block;
                width: 100px;
                border-bottom: 1px solid #ddd;
                content: "";
                margin-top: 10px;
            }
        }
    }
    &__box1{
        img{
            width: 100%;
        }
    }
    &__box2{
        .owl-carousel{
            position: relative;
            .owl-prev{
                position: absolute;
                left: -10px;
                top: calc(50% - 20px);
                background: #058A66 !important;
            }
            .owl-next{
                position: absolute;
                right: -10px;
                top: calc(50% - 20px);
                background: #058A66 !important;
            }
        }
    }
}

@media #{$r414}{
    .album_1_1_0{
        &__title{
            p{
                font-size: 16px;
            }
        }
        &__box2{
            margin-top: 20px;
        }
    }
}