$r1440: "(max-width:1440px)";
$r1366: "(max-width:1366px)";
$r1280: "(max-width:1280px)";
$r1024: "(max-width:1024px)";
$r768: "(max-width:812px)";
$r414: "(max-width:414px)";
$r375: "(max-width:375px)";
$r360: "(max-width:360px)";
$r320: "(max-width:320px)";
$main:#00619b;
%font1 {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
$color1:#004689;
%icon {
	font-family: "fontello";
	font-style: normal;
	font-weight: 400;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.post_new_other_4_0_0{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    p{
        background: #015440;
        padding: 10px 0 10px 20px;
        font-size: 16px;
        color: #fff;
        clear: both;
        text-transform: uppercase;
        font-weight: 500;
        margin: 8px 0;
        @extend %font1;
    }
    .box{
        width: 49%;
        border-right: 1px dashed #ccc;
        padding-right: 15px;
        &:last-child{
            border: none;
        }
        ul{
            padding-left: 20px;
            color: #015440;
            li{
                a{
                    color: #015440;
                    font-size: 14px;
                }
            }
        }
    }
}

@media #{$r414}{
    .post_new_other_4_0_0{
        .box{
            width: 100%;
            border: none;
            padding: 0;
        }
    }
}