$r1440: "(max-width:1440px)";
$r1366: "(max-width:1366px)";
$r1280: "(max-width:1280px)";
$r1024: "(max-width:1024px)";
$r768: "(max-width:812px)";
$r414: "(max-width:414px)";
$r375: "(max-width:375px)";
$r360: "(max-width:360px)";
$r320: "(max-width:320px)";
$main:#00619b;
%font1 {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
$color1:#004689;
a{
    text-decoration: none;
}
%icon {
	font-family: "fontello";
	font-style: normal;
	font-weight: 400;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.tool_info_3_0_0{
	background: rgba(220,230,237,.8);
	position: fixed;
	top: 130px;
	right: 0;
	z-index: 1;
	text-align: center;
	padding: 10px 5px;
	@media #{$r1440}{
		top: 120px;
		padding: 5px;
	}
	@media #{$r1024}{
		top: 160px;
		display: none;
	}
	
	&__title{
		padding-bottom: 5px;
		margin-bottom: 7px;
		border-bottom : 2px solid #ccc;
		color: #343434;
		font-weight: 600;
		font-size: 12px;
		@media #{$r1440}{
			font-size: 12px;
		}
	}
	&__box{
		.dv{
			display: block;
			cursor: pointer;
			@media #{$r1440}{
				font-size: 12px;
			}
		}
		img{
			border-radius: 50%;
			width: 35%;
			display: block;
			margin: 0 auto;
			@media #{$r1440}{
				width: 29%;
			}
		}
		p{
			font-size: 11px;
			margin-bottom: 5px;
			@media #{$r1440}{
				font-size: 10px;
			}
		}
		.dv{
			position: relative;
			&:hover{
				.detail{
					display: block;
				}
				
			}
			.detail{
				box-shadow: 3px 4px 4px #ccc;
				p{
					font-size: 14px;
					color: #000;
					margin: 0;
				}
				b{
					text-transform: uppercase;
				}
				&::after{
					content: '';
					display: block;
					width: 0;
					height: 0;
					border-top: 10px solid transparent;
					border-bottom: 10px solid transparent;
					border-left: 10px solid #fff;
					position: absolute;
				}
			}
			.address-detail{
				position: absolute;
				left: -320px;
				top: -10px;
				background: #fff;
				padding: 10px;
				border-radius: 5px;
				display: none;
				&::after{
					content: '';
					right: -10px;
					top: 20px;
				}
				
			}
			.hotline-detail{
				position: absolute;
				left: -126px;
    			top: 0px;
				background: #fff;
				padding: 10px;
				border-radius: 5px;
				display: none;
				&::after{
					content: '';
					right: -10px;
					top: 12px;
				}
			}
			.viber-detail{
				position: absolute;
				left: -118px;
    			top: 0px;
				background: #fff;
				padding: 10px;
				border-radius: 5px;
				display: none;
				&::after{
					content: '';
					right: -10px;
					top: 22px;
				}
			}
			.zalo-detail{
				position: absolute;
				left: -118px;
    			top: 0px;
				background: #fff;
				padding: 10px;
				border-radius: 5px;
				display: none;
				&::after{
					content: '';
					right: -10px;
					top: 22px;
				}
			}
			.tuvan-detail{
				position: absolute;
				left: auto;
				right: 75px;
    			top: -120px;
				background: #fff;
				padding: 20px;
				border-radius: 5px;
				display: none;
				box-shadow: 3px 3px 3px #ccc;
				&::after{
					content: '';
					right: -10px;
					top: 130px;
				}
				input{
					background: #EAEAEA;
					border: none;
					margin-bottom: 5px;
					padding: 10px 100px 10px 10px;
					border-radius: 5px;
				}
				a{
					background: #F2664B;
					color: #fff;
					padding: 10px 0;
					width: 100%;
					display: block;
					border-radius: 5px;
					text-transform: uppercase;
				}
			}
		}
	}
}