$r1440: "(max-width:1440px)";
$r1366: "(max-width:1366px)";
$r1280: "(max-width:1280px)";
$r1024: "(max-width:1024px)";
$r768: "(max-width:812px)";
$r414: "(max-width:414px)";
$r375: "(max-width:375px)";
$r360: "(max-width:360px)";
$r320: "(max-width:320px)";
$main:#00619b;

@font-face {
    font-family: 'Barlow';
    src: url(../fonts/Barlow.ttf);
}
%font4 {
    font-family: Barlow;
}
%icon {
	font-family: "fontello";
	font-style: normal;
	font-weight: 400;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.post_1_0_4{
    display: flex;
    flex-wrap: wrap;
    background: #F1F1F4;
    padding: 20px 0;
    &__sticky{
        width: 20%;
    }
    &__main{
        width: 50%;
        padding: 0 20px;
        &Title{
            padding: 10px 0px 0;
            h2{
                @extend %font4;
                font-size: 35px;
                line-height: 1.2;
                color: #03746e;
                margin: 0;
            }
            &.color{
                padding: 0;
                padding-bottom: 20px;
                h2{
                    color: #303030;
                }
            }
        }
        &Social{
            padding: 20px 0;
            display: flex;
            justify-content: space-between;
            span{
                color: #273030;
                font-style: italic;
            }
            .social{
                a{
                    color: #EF800A;
                    margin: 0 10px;
                }
            }
        }
        &Pic{
            padding: 20px 0;
            text-align: center;
            p{
                font-style: italic;
            }
            img{
                width: 100%;
            }
        }
    }
    &__sidebar{
        width: 30%;
        padding: 0 70px;
    }
}

@media #{$r1280}{
    .post_1_0_4{
        &__sidebar{
            padding: 0 50px;
        }
    }
}

@media #{$r1024}{
    .post_1_0_4{
        &__main{
            &Title{
                h2{
                    font-size: 24px;
                }
            }
        }
    }
}

@media #{$r768}{
    .post_1_0_4{
        padding-top: 50px;
        &__sticky{
            display: none;
        }
        &__sidebar{
            display: none;
        }
        &__main{
            width: 100%;
        }
    }
}

@media #{$r414}{
    .post_1_0_4{
        padding-top: 10px;
        &__main{
            width: 100%;
        }
    }
}