$r1440: "(max-width:1440px)";
$r1366: "(max-width:1366px)";
$r1280: "(max-width:1280px)";
$r1024: "(max-width:1024px)";
$r768: "(max-width:812px)";
$r414: "(max-width:414px)";
$r375: "(max-width:375px)";
$r360: "(max-width:360px)";
$r320: "(max-width:320px)";
$main:#00619b;
%font1 {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
$color1:#004689;
%icon {
	font-family: "fontello";
	font-style: normal;
	font-weight: 400;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.sidebar_2_2_0{
    margin-top: 50px;
    &__margin{
        height: 30px;
    }
    &__title{
        padding: 10px;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        border-bottom: 3px #e3e3e3 solid;
        border-left: 1px #e3e3e3 solid;
        border-right: 1px #e3e3e3 solid;
        border-top: 1px #004283 solid;
        background: #015440;
        margin-bottom: 2px;
        color: #fff;
        line-height: 22px;
        font-weight: 500;
        border-radius: 5px;
        position: relative;
    }
    &__newslq{
        ul{
            padding-left: 0;
            margin: 0;
            list-style: none;
            background: #F8F8F8;
            li{
                border-bottom: 1px solid #e3e3e3;
                a{
                    font-weight: 400;
                    color: #015440;
                    padding: 10px;
                    display: block;
                    font-size: 14px;
                    position: relative;
                    padding-left: 20px;
                    transition: all 0.4s;
                    &::before{
                        @extend %icon;
                        content: "\e887";
                        position: absolute;
                        left: 0;
                        top: 12px;
                        color: #B5B5B5;
                    }
                    &:hover{
                        background: #029687;
                        color: #fff;
                        transition: all 0.4s;
                    }
                }
            }
        }
    }
    &__newsnb{
        .sb-tabs{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            .sb-tab{
                width: 49%;
                text-align: center;
                background: #DDDDDD;
                color: #015440;
                padding: 10px;
                position: relative;
                &.active{
                    background: #015440;
                    color: #fff;
                    &::after{
                        display: block;
                    }
                }
                &::after{
                    @extend %icon;
                    content: "\e884";
                    color: #015440;
                    font-size: 25px;
                    position: absolute;
                    bottom: -15px;
                    left: calc(50% - 20px);
                    display: none;
                }
            }
        }
        .sb-box{
            display: none;
            &.active{
                display: block;
            }
            ul{
                padding-left: 0;
                margin: 0;
                list-style: none;
                margin-top: 20px;
                li{
                    border-bottom: 1px solid #e3e3e3;
                    a{
                        font-weight: 400;
                        color: #015440;
                        padding: 10px;
                        display: block;
                        font-size: 14px;
                        position: relative;
                        padding-left: 20px;
                        transition: all 0.4s;
                        &::before{
                            @extend %icon;
                            content: "\e887";
                            position: absolute;
                            left: 0;
                            top: 12px;
                            color: #B5B5B5;
                        }
                        &:hover{
                            background: #029687;
                            color: #fff;
                            transition: all 0.4s;
                        }
                    }
                }
            }
        }
    }
}

@media #{$r1024}{
    .sidebar_2_2_0{
        &__title{
            font-size: 12px;
        }
        &__newslq{
            ul{
                li{
                    a{
                        font-size: 12px;
                    }
                }
            }
        }
        &__newsnb{
            .sb-tabs{
                .sb-tab{
                    font-size: 12px;
                }
            }
            .sb-box{
                ul{
                    li{
                        a{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        &__newsVideo{
            img{
                width: 100%;
            }
        }
    }
}

@media #{$r414}{
    .sidebar_2_2_0{
        display: none;
    }
}