$r1440: "(max-width:1440px)";
$r1366: "(max-width:1366px)";
$r1280: "(max-width:1280px)";
$r1024: "(max-width:1024px)";
$r768: "(max-width:812px)";
$r414: "(max-width:414px)";
$r375: "(max-width:375px)";
$r360: "(max-width:360px)";
$r320: "(max-width:320px)";
$main:#00619b;
%font1 {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

$color1:#004689;
%icon {
    font-family: "fontello";
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.partner_1_0_1 {
    background: #EDEDED;
    padding: 30px 0;
    &__title {
        h2 {
            font-size: 28px;
            text-align: center;
            font-weight: 600;
            padding: 0;
            margin: 0 0 15px;
            line-height: 40px;
            text-transform: uppercase;
            color: #000;
        }
    }
    &__line {
        width: 258px;
        margin: 15px auto 40px;
        position: relative;
        border-top: 1px solid #00c6ca;
        &::before {
            width: 160px;
            margin: 0 auto;
            border-top: 3px solid #00c6ca;
            position: absolute;
            left: 50px;
            top: -2px;
            content: "";
        }
    }
    &__item {
        padding: 20px 0;
    }
    .owl-carousel {
        img {
            width: auto;
        }
    }
    .owl-theme .owl-dots .owl-dot.active span,
    .owl-theme .owl-dots .owl-dot:hover span {
        background: #00d9dd;
    }
}

@media #{$r1024} {
    .partner_1_0_1 {
        &__item {
            padding: 20px 10px;
        }
        .owl-carousel {
            img {
                width: 100%;
            }
        }
    }
}

@media #{$r320} {
    .partner_1_0_1 {
        &__title {
            h2 {
                font-size: 20px;
            }
        }
    }
}