$r1440: "(max-width:1440px)";
$r1366: "(max-width:1366px)";
$r1280: "(max-width:1280px)";
$r1024: "(max-width:1024px)";
$r768: "(max-width:812px)";
$r414: "(max-width:414px)";
$r375: "(max-width:375px)";
$r360: "(max-width:360px)";
$r320: "(max-width:320px)";
$main:#00619b;
%font1 {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
$color1:#004689;
%icon {
	font-family: "fontello";
	font-style: normal;
	font-weight: 400;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.news_3_4_0{
    padding-bottom: 30px;
    &__title{
        p{
            background: #f7f4f4;
            border: 1px solid #e3e3e3;
            padding: 3px 10px;
            display: table;
            margin-top: -1px;
            color: #015440;
            text-transform: uppercase;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            font-weight: 700;
            @extend %font1;
        }
    }
    &__box{
        margin-top: 20px;
        .item{
            img{
                width: 100%;
                display: block;
            }
            color: #015440;
            margin-bottom: 10px;
            display: block;
            font-size: 14px;
            transition: all 0.4s;
            &::before{
                @extend %icon;
                content: "\e887";
                color: #015440;
            }
            &:first-child{
                &::before{
                    display: none;
                }
            }
            &:hover{
                color: #FF8B0F;
                transition: all 0.4s;
            }
        }
    }
}

@media #{$r414}{
    .news_3_4_0{
        padding-bottom: 0;
        .row{
            .col-md-3{
                width: 50%;
                margin-bottom: 20px;
                padding: 0 10px;
            }
        }
        &__box{
            .item{
                font-size: 12px;
            }
        }
    }
}