$r1440: "(max-width:1440px)";
$r1366: "(max-width:1366px)";
$r1280: "(max-width:1280px)";
$r1024: "(max-width:1024px)";
$r768: "(max-width:812px)";
$r414: "(max-width:414px)";
$r375: "(max-width:375px)";
$r360: "(max-width:360px)";
$r320: "(max-width:320px)";
$main:#00619b;
%font1 {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
$color1:#004689;
%icon {
	font-family: "fontello";
	font-style: normal;
	font-weight: 400;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

a {
    text-decoration: none;
}

.header_2_1_0 {
    position: fixed;
    z-index: 9;
    width: 100%;
    top: 0;
    @extend %font1;
    background: #058A66;
    border-bottom: none;
    &__regist{
        background: linear-gradient(to top, #F2B448, #C98B1F);
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        @extend %font1;
        display: none;
        padding: 8px 10px;
        border-radius: 5px;
    }
    &_box {
        ul {
            li {
                list-style: none;
            }
        }
        &_1 {
            .container {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            color: #878787;
            &__logo {
                display: none;
            }
            &__slogan {
                line-height: 44px;
                display: flex;
            }
            &__Infor {
                position: absolute;
                top: 0;
                right: 0;
                display: flex;
                height: 44px;
                font-size: 13px;
                line-height: 44px;
                b {
                    color: #1c8569;
                }
                i {
                    font-size: 16px;
                    color: #1c8569;
                    width: 19px;
                    height: 19px;
                    vertical-align: middle;
                    margin-right: 5px;
                }
            }
            &__date {
                padding-right: 20px;
            }
            &__place {
                padding-right: 20px;
                position: relative;
                &:hover {
                    ul {
                        display: block;
                    }
                }
                ul {
                    margin: 0;
                    list-style: none;
                    position: absolute;
                    left: -10px;
                    width: 120px;
                    top: 33px;
                    line-height: 25px;
                    border-radius: 0 0 4px 4px;
                    padding: 5px 10px;
                    background: #fff;
                    z-index: 11;
                    display: none;
                    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
                    a {
                        font-size: 12px;
                        padding: 0;
                        transition: 0.6s;
                        b {
                            color: #333;
                            font-weight: normal;
                        }
                        &:hover {
                            b {
                                color: #1c8569;
                            }
                        }
                    }
                    li {
                        padding: 0;
                    }
                }
                i {
                    background-position: 0 -23px;
                    width: 14px;
                }
            }
            &__call {
                i {
                    background-position: 0 -48px;
                }
            }
            .iconMid {
                display: none;
            }
        }
        &_2 {
            padding: 30px 0;
            .container {
                display: flex;
                align-items: center;
            }
            &__logo {
                position: absolute;
                top: -50px;
                left: 10px;
                width: 180px;
                height: 50px;
                display: block;
                margin: 25px 20px;
            }
         
            &__menu {
                margin: 0;
                display: inherit;
                padding: 0 50px 0px 320px;
                z-index: 9;
                float: right;
                a {
                    font-size: 16px;
                    padding: 35px 15px 30px;
                    margin: 0;
                    text-align: center;
                    text-transform: uppercase;
                    color: #fff;
                    @extend %font1;
                }
                .menu-icon {
                    display: none;
                }
                &-hover {
                    .arr::before {
                        display: none;
                        position: absolute;
                        bottom: 5px;
                        left: 40px;
                        text-align: center;
                        color: #f16749;
                    }
                    .arr{
                        &:hover{
                            border-bottom: 2px solid #DCAF47;
                            position: relative;
                            z-index: 2;
                        }
                    }
                    &:hover {
                        .arr::before {
                            display: block;
                        }
                        .header_2_1_0_box_2__menu-content {
                            display: block;
                        }
                        &>a {
                            color: #e3a261;
                        }
                        &.relative{
                            position: relative;
                            .header_2_1_0_box_2__menu-content
                            {
                                top: 40px;
                                right: 0;
                                left: 0;
                                width: 220px;
                            }
                        }
                    }
                }
                &-content {
                    display: none;
                    position: absolute;
                    width: 80%;
                    right: 0px;
                    top: 50px;
                    background: #058A66;
                    padding:10px 20px;
                    color: #fff;
                    ul {
                        list-style: none;
                        padding: 0;
                        li {
                            border-bottom: 1px dotted #ccc;
                            margin: 0;
                            padding:8px 0;
                            font-size: 13px;
                             position: relative;
                            &:last-child{
                                border-bottom: none;
                            }
                        }
                    }
                    
                    a {
                        color: #fff;
                        transition: 0.1s;
                        padding: 0;
                        text-transform: none;
                        font-weight: 400;
                            &:hover{
                                color: #DCAF47;
                            }
                        }
                    }
                }
                &_3 {
                    background: rgba(0, 0, 0, .8);
                    width: 100%;
                    height: 100%;
                    content: '';
                    display: none;
                    position: fixed;
                    top: 0;
                    left: 0;
                    z-index: 2;
                    animation: opac 0.4s;
                    &.active {
                        display: block;
                    }
                }
            }
        }
    .regist {
        width: 158px;
        right: 0;
        top: -10px;
        text-transform: uppercase;
        background: #dcaf47;
        border-radius: 30px;
        text-align: center;
        font-size: 13px;
        padding: 10px 0;
        color: #fff;
        font-weight: 600;
        &:hover {
            background-color: #1c8569;
        }
    }
    &.menufix {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9;
        background: #058A66;
        box-shadow: 0 0px 10px rgba(0, 0, 0, .2);
        .header_2_1_0_box_1 {
            display: none;
        }
        .header_2_1_0_box_2 {
            background-color: #058A66;
            padding: 20px 0;
            &__menu {
                &__title {
                    color: #000;
                }
                a{
                    font-size: 15px;
                }
            }
            &__logo{
                margin: 35px 20px 0;
            }
        }
        .header_2_1_0__regist{
            display: block;
        }
    }
}
@media #{$r1024} {
    .header_2_1_0 {
        height: 90px;
        &_box {
            &_1 {
                border-bottom: none;
                .container {
                    justify-content: center;
                    position: relative;
                }
                &__logo {
                    text-align: center;
                    margin: 10px auto 0;
                    position: relative;
                    display: block;
                    img {
                        width: 100%;
                    }
                }
                &__slogan {
                    display: none;
                }
                &__Infor {
                    display: none;
                }
                .iconMid {
                    display: block;
                }
                .siteHeaderNav {
                    position: absolute;
                    left: 0;
                    color: #fff;
                    font-size: 35px;
                    top: 20px;
                }
                .siteHeaderCall {
                    background: #edac0e url(../images/call.png) no-repeat center;
                    width: 40px;
                    height: 40px;
                    border-radius: 4px;
                    position: absolute;
                    right: 25px;
                    top: 25px;
                    z-index: 3;
                    text-align: center;
                    line-height: 40px;
                    font-size: 22px;
                    color: #fff;
                    img {
                        width: 100%;
                    }
                }
            }
            &_2 {
                width: 270px;
                background: #058A66;
                position: fixed;
                height: 100%;
                left: 0;
                top: 0;
                z-index: 3;
                overflow: auto;
                padding-bottom: 20px;
                display: none;
                padding-top: 50px;
                &.active {
                    display: block;
                    width: 270px;
                    animation: animateleft 0.4s;
                }
                .container {
                    display: block;
                    width: 270px;
                    padding:0px;
                }
                &__logo {
                    max-width: 100%;
                    margin: 10px 20px;
                    left: 0px;
                    width: 90%;
                    img{
                        margin:0;
                        width: 100%;
                    }
                    &::after {
                        display: none;
                    }
                }
                &__menu {
                    float: none;
                    display: block;
                    padding: 50px 0px;
                    a {
                        padding: 0 15px;
                        color: #fff;
                    }
                    &-hover {
                        padding: 10px 0 10px;
                        position: relative;
                    }
                    &-hover {
                        &:hover {
                            position: relative;
                            .header_2_1_0_box_2__menu-content {
                                display: none;
                            }
                            &.relative{
                                position: relative;
                                .header_2_1_0_box_2__menu-content
                                {
                                    top:10px;
                                    right: 0;
                                    left: 0;
                                    width: 100%;
                                    ul{
                                        li{
                                            border-bottom: none;
                                            margin: 5px 0 5px 0;
                                        }
                                    }
                                }
                            }
                            &>a{
                                color: #fff;
                            }
                        }
                        .header_2_1_0_box_2__menu-content{
                            top:10px;
                            box-shadow: 0 0 4px rgba(0,0,0,0.2);
                            padding:7px 25px;
                        }
                    }
                    &-content {
                        position: inherit;
                        top: 0;
                        right: 0;
                        border-radius: 0;
                        width: 100%;
                        padding: 5px 0px;
                        a {
                            color: #000;
                            background-color: #eee;
                        }
                        .mntt {
                            padding: 3px 10px;
                            border-bottom: none;
                            color: #fff;
                        }
                        ul {
                            padding: 0px;
                            margin:-2px;
                            li{
                                border-bottom: none;
                                background-color: #eee;
                                padding:8px 0px;
                                margin:4px 0;
                            }
                        }
                    }
                }
                .regist {
                    margin-left: 40px;
                    padding: 10px 20px;
                }
                .menu-icon {
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 0;
                    padding: 10px;
                    width: 100%;
                    height: 100%;
                    text-align: right;
                }
            }
            &_3 {
                background: rgba(0, 0, 0, .6);
                width: 100%;
                height: 100%;
                content: '';
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 2;
                animation: opac 0.4s;
                &.active {
                    display: block;
                }
            }
        }
        &.menufix {
            .header_2_1_0_box {
                &_1 {
                    display: block;
                }
                &_2 {
                    background-color: #058A66;
                    &__menu {
                        padding: 90px 0px 20px;
                        &__title {
                            color: #000;
                        }
                    }
                    &__logo{
                        top: auto;
                        margin: 0;
                    }
                }
            }
            .header_2_1_0__regist{
                width: 50%;
                margin: 0 auto;
            }
        }
        .hide-img{
            display: none;
            img{
                width: 100%;
            }
        }
        .header_2_1_0_box_2__menu-hover{
            position: relative;
            border-top: 1px solid rgba(0,0,0,0.1);

        }
        .menu-icon{
            display: block;
            position: absolute;
            right:0px;
            top: 0px;
            color: #fff;
            padding: 10px;
            text-align: right;
            width: 100%;
            height: 100%;
        }
        .row>div{
            padding-left: 0;
            padding-right: 0;
        }
        .row p{
            margin:0;
        }
    }
   
}

@media #{$r414} {
    .header_2_1_0 {
        height: 70px;
        &_box_1 {
            &__logo {
                img {
                    width: 75%;                    
                }
            }
            .siteHeaderCall {
                right: 0;
                top: 15px;
            }
            .siteHeaderNav {
                left: 0;
                top: 10px;
            }
        }
        &_box_2 {
            &__logo {
                margin: 10px 0px;
                left: 0px;
                width: 100%;
            }
        }
    }
}

@media #{$r320} {
    .header_2_1_0 {
        height: 80px;
    }
}